/* ************************Root***************************** */
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #e3e3e3;
}
/* **************************group-form***************************** */
input{
  display: block;
  border-radius: 1%;
}
/* ******************************button************************************ */
button{
  margin: 20px;
  margin-left: 0px;
}
.second{
  margin-left: -23px;
}
/* ********************************hidden************************************ */
.hidden{
  display: none;
}
